@font-face {
  font-family: "Lucida Console";
  src: url("../fonts/LUCON.TTF");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Console", monospace;
  background-color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 32px;
  display: flex;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
}

.encryptor-logo {
  width: 80px;
  height: auto;
}

h1 {
  font-size: 32px;
  color: #12a50b;
}

.encryptor-decryptor {
  display: flex;
  justify-content: space-around;
  max-width: 1400px;
  width: 100%;
  max-height: fit-content;
  margin: 0 auto;
  flex: 1;
  padding: 25px 0;
}

.enter-message-area,
.show-message-area {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  /* height: fit-content;
  max-height: 100%; */
  padding: 15px;
  box-shadow: #1af110;
  /* border: 1px solid #ffffff; */
  /* background-color: #242424; */
}

.enter-message-text,
.show-message-text {
  background-color: #000;
  color: #f49206;
  outline: none;
  border: none;
  font-size: 18px;
  resize: none;
  /* background-color: transparent; */
  flex: 1;
}

.enter-message-text::placeholder {
  color: #f49206;
}

/* .enter-message-text::placeholder, */
.show-message-text::placeholder {
  color: rgba(57, 182, 255, 0.5);
}

.enter-message-btn-area,
.show-message-btn-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.advice-box {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 15px;
}

.advice-text {
  color: #1af110;
  font-size: 14px;
}

/* div para centrar el boton mientras mantiene la proporcion */
.enter-message-btn-area div:last-child {
  display: flex;
  justify-content: center;
}

.message-button,
.copy-button {
  font-family: "Lucida Console", monospace;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
}

.message-button {
  background-color: #1af110;
}

.copy-button {
  background-color: #e60ef1;
}

footer {
  background-color: #242424;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer a {
  color: rgb(0, 102, 255);
}
