@font-face {
  font-family: "Lucida Console";
  src: url("../fonts/LUCON.TTF");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Console", monospace;
  background-color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* min-width: 373px; */
}

header {
  padding: 16px;
}

.encryptor-logo {
  width: 80px;
  height: auto;
}

h1 {
  font-size: 32px;
  color: #12a50b;
  text-align: center;
}

.encryptor-decryptor {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  flex: 1;
  padding: 25px 0;
}

.enter-message-area,
.show-message-area {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  padding: 15px;
  margin: 0 30px;
  box-shadow: 1px 1px 5px 5px rgba(26, 241, 16, 0.3);
  border-radius: 5px;
}

.enter-message-text,
.show-message-text {
  background-color: #000;
  color: #f49206;
  outline: none;
  border: none;
  font-size: 18px;
  resize: none;
  flex: 1;
}

.enter-message-text::placeholder {
  color: #f49206;
}

/* .enter-message-text::placeholder, */
.show-message-text::placeholder {
  color: rgba(57, 182, 255, 0.5);
}

.enter-message-btn-area,
.show-message-btn-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.advice-box {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 15px;
}

.advice-text {
  color: #1af110;
  font-size: 10px;
}

/* div para centrar el boton mientras mantiene la proporcion */
/* .enter-message-btn-area div:last-child, */
 .enter-message-buttons,
 .show-message-btn-area div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-message-buttons {
  column-gap: 10px;
}

.action-button,
.copy-button {
  font-family: "Lucida Console", monospace;
  font-size: 24px;
  border: none;
  /* border-radius: 5px; */
  padding: 8px 20px;
}

.action-button {
  background-color: #1af110;
}

.change-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 36px;
  height: 36px;
}

.change-btn-img {
  height: 100%;
  width: 100%;
}

.copy-button {
  background-color: #e60ef1;
}

footer {
  background-color: #242424;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer a {
  color: rgb(0, 102, 255);
}

/* For tablet screen */
@media screen and (max-width: 1319px) {
  .enter-message-area, .show-message-area {
    height: 400px;
    margin: auto;
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  header {
    padding: 15px 0 0 ;
  }

  h1 {
    font-size: 20px;
  }

  .encryptor-decryptor {
    padding-bottom: 0;
    align-items: center;
  }

  .enter-message-area, .show-message-area {
    width: 300px;
    height: 320px;
    margin: 0;
  }

  .action-button, .copy-button {
    font-size: 22px;
  }
  
}